# Directroies:

# Code editors and IDEs:
.vscode/
.vs/
.idea/

# React:
node_modules/

# Java, C++, C, C#:
build/
target/
obj/
bin/
buildSrc/

# Scala:
.bloop/
.bsp/
.metals/
project/

# Python:
venv

# Gradle:
.gradle/

# Files:

# Visual Studio and Visual Studio Code solutions
*.sln

# JSON stuff and configs
*.json

# Other gitignores:
.gitignore
.gitattributes
