# Directroies:

# Code editors and IDEs:
.vscode/
.vs/
.idea/

# React:
node_modules/
package-lock.json

# Java, C++, C, C#:
build/
target/
obj/
bin/
buildSrc/

# Scala:
.bloop/
.bsp/
.metals/
project/

# Python:
venv
__pycache__
.venv

# Gradle:
.gradle/

# Files:

# Visual Studio and Visual Studio Code solutions
*.sln

# SQL
*.sql

# Other gitignores:
.gitignore
.gitattributes
.env