.menu {
  background-color: #437d94;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 105px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline;
  margin-right: 50px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: #fff; 
  font-size: 20px;
  padding: 20px;
}

.menu a:hover {
  background-color: #3d5d69;
  background-size: 300px;
}
